<div class="container">
  <div class="clearfix">
    <div class="col col-12 p1">
      <div class="overflow-hidden bg-white border rounded">
      	<div class="col-8 px2 mx-auto">
        <%= image_tag "helpful_logo.svg", class: "middle m3" %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= link_to "Register >", new_user_path, class: "h2 m1 button-small white bg-dark-gray rounded" %>
        <br>
        <br>
				<%= link_to "Sign in >", signin_path, class: "h2 m1 button-small white bg-dark-gray rounded" %>
        </div>
      	</div>
      </div>
    </div>
  </div>
</div>