<div class="clearfix">
    <% @tickets.each do |ticket| %>
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h4 m0">
            <span class="black"><%= ticket.shortened_title %></span>
            <% if ticket.professional.nil? %>
            <span class="h4 inline-block button-small white bg-red rounded right">
             Unclaimed
             </span>
            <% else %>
              <span class="h4 inline-block button-small white bg-green rounded right">
             Claimed
             </span>
            <% end %>
          </h1>
        </div>
        <div class="p2 center">
         <%= link_to ticket do %>
          <button type="button" class="h5 button-blue">View</button>
         <% end %>

        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>