<h1 class="center">Plumbing</h1>
<div class="container">
  <div class="clearfix">
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
    <div class="col col-4 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-light-gray">
          <h1 class="h2 m0">
            Ticket
            <span class="h4 inline-block button-small white bg-red rounded right">Unclaimed</span>
          </h1>
        </div>
        <div class="p2">
          <button type="button" class="h5 button-blue">Claim!</button>
        </div>
      </div>
    </div>
  </div>
</div>

