<% if flash[:error] %>
<div data-name="error" class="bold center p2 mb2 white bg-red rounded">
  <ul class="no-bottom-margin">
    <% flash[:error].each do |message| %>
      <li class="no-bullet" data-error><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if flash[:success] %>
<div data-name="success" class="bold center p2 white bg-green rounded">
  <ul class="no-bottom-margin">
    <% flash[:success].each do |message| %>
      <li class="no-bullet" data-error><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
