<div class="clearfix mb2 white bg-dark-gray">
  <div class="left">
    <a href="/" class="button py2 m0 button-nav-dark">Home</a>
    <a href="/professions" class="button py2 m0 button-nav-dark">Professions</a>
    <a href="#" class="button py2 m0 button-nav-dark">My Account</a>
  </div>
  <% if session[:user_id].nil? %>
  <div class="right">
    <%= link_to "Register", new_user_path, class: "button py2 m0 button-nav-dark" %>
    <%= link_to "Sign in", signin_path, class: "button py2 m0 button-nav-dark" %>
  </div>
  <% else %>
  <div class="right">
    <%= link_to "Sign out", signout_path, method: :delete, class: "button py2 m0 button-nav-dark" %>
  </div>
  <% end %>
</div>
